name: Build and push docker image

on:
  push:
    branches:
      - master
      - main

jobs:
  docker_build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get tag
        id: get_tag
        run: echo "::set-output name=tag::$(git describe --tags)"

      - name: Show Tag
        run: |
          echo "Building tag: ${{ steps.get_tag.outputs.tag }}"

      # - name: Set up Docker Buildx
      #   uses: docker/setup-buildx-action@v1

      # - name: Login to GitHub Container Registry
      #   uses: docker/login-action@v1
      #   with:
      #     registry: ghcr.io
      #     username: ${{ github.actor }}
      #     password: ${{ secrets.GITHUB_TOKEN }}

      # - name: Build and push
      #   uses: docker/build-push-action@v3
      #   with:
      #     context: .
      #     push: true
      #     tags: |
      #       ghcr.io/${{ github.repository_owner }}/fiber-app:latest
      #       ghcr.io/${{ github.repository_owner }}/fiber-app:${{ steps.get_tag.outputs.tag }}
      #     cache-from: type=gha
      #     cache-to: type=gha,mode=max
